body {
    font-family: Arial, sans-serif;
    background-image: url(img/background-login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0px 10px 0px 10px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header .logo-title img {
    max-width: 100%;
    height: auto;
}

.bnv p {
    font-size: 1.5rem;
    margin: 5px 0px;
    color: white;
    text-align: center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.911);
    max-width: 90vw;
    width: 90%;
    max-width: 450px;
    max-height: 90%;
    padding: 45px 18px 20px 18px;
    border-radius: 22px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px 0px 20px 0px;
}

.login-container legend {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align:left; 
}

.login-container input[type="email"], 
.login-container input[type="password"] {
    padding: 8px 40px;
    width: calc(90% - 45px);
    height: 30px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
    background-repeat: no-repeat;
    background-position: left 8px center;
}

.login-container input[type="email"] {
    background-image: url(img/mail.png);
}

.login-container input[type="password"] {
    background-image: url(img/lock.png);
}

.login-container input:hover {
    border-color: #1e67b9;
}

.butons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.btn {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 12px;
    width: 90%;
    max-width: 180px;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
}

#btn1 {
    background-color: #298bf5;
}

#btn1:hover {
    background-color: #0056b3;
}

#btn2 {
    background-color: transparent;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #007bff;
}

#btn2:hover {
    background-color: rgba(16, 121, 233, 0.205);
}

.login-container p {
    text-align: center;
    margin-top: 20px;
}

.login-container p a {
    color: #007bff;
    text-decoration: none;
}

.login-container p a:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .bnv p {
        font-size: 1.2rem;
    }

    .login-container {
        padding: 30px 20px;
    }

    .login-container legend {
        font-size: 1.2rem;
    }

    .login-container input[type="email"], 
    .login-container input[type="password"] {
        height: 35px;
        padding: 8px 40px;
    }

    .btn {
        padding: 10px;
        font-size: 0.9rem;
    }
}
